@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <li>
        <a class="nav-link text-dark" asp-controller="Movimentacao" asp-action="Create">Lançar Movimentação</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Movimentacao" asp-action="Index">Movimentação</a>
    </li>
    <li>
        <span class="nav-link text-dark">Bem-vindo, @HttpContextAccessor.HttpContext.User.FindFirst("FullName").Value!</span>
    </li>
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <li>
            <button type="submit" class="nav-link text-dark">Sair</button>
        </li>
    </form>
}
else
{
    <li>
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Entrar</a>
    </li>
}
