@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Um erro ocorreu enquanto processamo sua solicitação.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID da Solicitação:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Ambiente de Desenvolvimento</h3>
<p>
    Mudar para o ambiente de <strong>Desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro que ocorreu.
</p>
<p>
    <strong>O ambiente de Desenvolvimento não deve ser ativado para aplicações em produção.</strong>
    Isso pode resultar na exibição de informações sensíveis das exceções para os usuários finais.
    Para depuração local, ative o ambiente de <strong>Desenvolvimento</strong> configurando a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> para <strong>Desenvolvimento</strong>
    e reinicie a aplicação.
</p>
