@model LedAmbiental.Models.Entrada

@{
    ViewData["Title"] = "Lançar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lançar Entrada</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCaminhao" class="control-label"></label>
                <select asp-for="NomeCaminhao" class="form-select">
                    <option value="">Selecione o caminhão</option>
                    <option value="Truck">Truck</option>
                    <option value="Caçamba">Caçamba</option>
                </select>
                <span asp-validation-for="NomeCaminhao" class="text-danger"></span>
            </div>
            <div class="input-group my-4">
                <select asp-for="NomeCaminhao" class="form-select">
                    <option value="">Selecione o material</option>
                    <option value="Madeira">Madeira</option>
                    <option value="Asfalto">Asfalto</option>
                </select>
                <input asp-for="Materials" type="number" class="form-control" required/>
            </div>
            <div class="form-group">
                <button type="button" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="3rem" height="3rem">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </button>
                
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
