@model LedAmbiental.Models.Movimentacao


@{
    ViewData["Title"] = "Lançar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-red:hover">Lançar Entrada</h1>

<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Caminhao" class="control-label"></label>
                <select asp-for="Caminhao" class="form-select">
                    <option value="Truck">Truck</option>
                    <option value="Caçamba">Caçamba</option>
                </select>
                <span asp-validation-for="Caminhao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-select">
                    <option value="Entrada">Entrada</option>
                    <option value="Saída">Saída</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <select asp-for="Local" class="form-select">
                    <option value="">Selecione o local</option>
                    <option value="Usina">Usina</option>
                    <option value="Aterro">Aterro</option>
                </select>
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="material-container">
                <div class="input-group my-4 material">
                    <select name="materiais" class="form-select">
                        <option value="Madeira">Madeira</option>
                        <option value="Asfalto">Asfalto</option>
                        <option value="Resíduos de Cimento">Resíduos de Cimento</option>
                        <option value="Ladrilhos, telhas e materiais cerâmicos">Ladrilhos, telhas e materiais cerâmicos</option>
                        <option value="Vidro">Vidro</option>
                        <option value="Plástico">Plástico</option>
                        <option value="Mistura de sucatas">Mistura de sucatas</option>
                    </select>
                    <input name="quantidades" type="number" step="any" class="form-control" required />
                    <button type="button" class="remover-material">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="bg-red-hover" style="width:2rem">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="adicionar-material" class="w-25">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </button>

            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addButton = document.getElementById("adicionar-material");
        const materialContainer = document.querySelector(".material-container");
        const removerButtons = document.querySelectorAll(".remover-material");

        addButton.addEventListener("click", function () {
            const originalMaterialDiv = document.querySelector(".material");
            const clonedMaterialDiv = originalMaterialDiv.cloneNode(true);
            materialContainer.appendChild(clonedMaterialDiv);
            const clonedRemoveButton = clonedMaterialDiv.querySelector(".remover-material");
            clonedRemoveButton.addEventListener("click", function () {
                const materialDiv = clonedRemoveButton.closest(".material");
                if (materialDiv) {
                    materialDiv.remove();
                    updateRemoveButtons();
                }
            });
            // Ativar o botão de remover apenas se houver mais de uma div material
            updateRemoveButtons();
        });

        // Atualizar os botões de remover
        function updateRemoveButtons() {
            const removeButtons = document.querySelectorAll(".remover-material");
            if (removeButtons.length > 1) {
                removeButtons.forEach(function (button) {
                    button.removeAttribute("disabled");
                });
            } else {
                removeButtons.forEach(function (button) {
                    button.setAttribute("disabled", "disabled");
                });
            }
        }

        removerButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                const materialDiv = button.closest(".material");
                console.log("wokring");
                if (materialDiv) {
                    materialDiv.remove();
                    updateRemoveButtons();
                }
            });
        });

        // Inicializar os botões de remover
        updateRemoveButtons();
    });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
