@model LedAmbiental.Models.Movimentacao

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Movimentação</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDMovimentacao" />
            <div class="form-group">
                <label asp-for="Caminhao" class="control-label"></label>
                <select asp-for="Caminhao" class="form-select">
                    <option value="">Selecione o caminhão</option>
                    <option value="Truck">Truck</option>
                    <option value="Caçamba">Caçamba</option>
                </select>
                <span asp-validation-for="Caminhao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-select">
                    <option value="">Selecione o tipo</option>
                    <option value="Entrada">Entrada</option>
                    <option value="Saída">Saída</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label"></label>
                <select asp-for="Local" class="form-select">
                    <option value="">Selecione o local</option>
                    <option value="Usina">Usina</option>
                    <option value="Aterro">Aterro</option>
                </select>
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material" class="control-label"></label>
                <select asp-for="Material" class="form-select">
                    <option value="Resíduos de cimento">17 01 01 Resíduos de cimento</option>
                    <option value="Tijolos">17 01 02 Tijolos</option>
                    <option value="Ladrilhos, telhas e materiais cerâmicos">17 01 03 Ladrilhos, telhas e materiais cerâmicos</option>
                    <option value="Misturas de cimentos, tijolos, ladrilhos, telhas e materiais cerâmicos não abrangidas em 17 01 06">17 01 07 Misturas de cimentos, tijolos, ladrilhos, telhas e materiais cerâmicos não abrangidas em 17 01 06</option>
                    <option value="Madeira">17 02 01 Madeira</option>
                    <option value="Vidro">17 02 02 Vidro</option>
                    <option value="Plástico">17 02 03 Plástico</option>
                    <option value="Asfalto">17 03 02 Asfalto</option>
                    <option value="Mistura de sucatas">17 04 07 Mistura de sucatas</option>
                    <option value="Cabos não abrangidos em 17 04 10">17 04 11 Cabos não abrangidos em 17 04 10</option>
                    <option value="Solos e rochas não abrangidos em 17 05 03">17 05 04 Solos e rochas não abrangidos em 17 05 03</option>
                    <option value="Isopor">20 01 39 Isopor</option>
                    <option value="Papel/papelão">20 01 01 Papel/papelão</option>
                    <option value="Pneus">16 01 24 Pneus</option>
                    <option value="Materiais de construção à base de gesso não abrangidos em 17 08 01">17 08 02 Materiais de construção à base de gesso não abrangidos em 17 08 01</option>
                </select>
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" type="number" step="any" class="form-control" required />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
